body{
  margin: 0 auto;
  font-family: Arial;
  line-height: 1.2;
  width: 80%;
}
.site-header{
  border-bottom: 1px solid #ccc; /* đường kẻ ngăn cách */
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /*Cho phép xuống dòng khi chật*/
  margin: 20px 0;
}
.logo{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.logo a {
  display: inline-flex;              /* sắp xếp ngang */
  align-items: center;        /* căn giữa theo chiều dọc */
  text-decoration: none;      /* bỏ gạch chân link */
  color: #910909;                /* màu chữ */
}
.logo span {
  font-size: 40px;
  font-weight: bold;
}
.logo img {
  width: 60px;                /* chỉnh kích thước ảnh */
  height: auto;              /*giư ảnh đúng tỉ lệ gốc*/
  margin-right: 10px;           
  border-radius: 20px;         /* Bo góc*/
}
.logo p{
  color: black;
  font-size: 13px;
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.search-bar{
  display: flex;
  align-items: center;
}
.search-bar input{
  border:1px solid #ccc;
  padding: 8px 12px;
  width: 300px; /*Độ dài*/
  border-radius: 5px 0 0 5px; /* bo góc bên trái */
  outline: none;
  background-color: #7e7d7d; /* màu nền ô input */
  color: #faf6f6;            /* màu chữ */
}
.search-bar button{
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-left: none;      /* bỏ viền trùng */
  border-radius: 0 5px 5px 0; /* bo góc bên phải */
  background-color: #434343; /* đổi màu nút */
  color: white;
  cursor: pointer;
}
.menu-game{
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 20px;
}
.menu-game li a{
  text-decoration: none;
  color: black;
}
.button-container {
  display: flex;
  gap: 10px; /* khoảng cách giữa các nút */
  position: fixed;
  top: 0;
  width: 80%;
  padding: 10px 0;
  justify-content: flex-end;
}

.nav-item a {
  text-decoration: none; /* bỏ gạch chân */
  color: black; /* chữ trắng */
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display:inline-block;
}

.nav-item a:hover {
  transform: translateY(5px); /*Hover vào chữ lùi xuống 1 đoạn*/
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    .search {
        margin: 10px 0;
    }
}

