body{
  margin: 0 auto;
  font-family: Arial;
  line-height: 1.2;
  width: 80%;
  background-color: rgb(90, 95, 99);
}
.site-header{
  border-bottom: 1px solid #ccc; /* đường kẻ ngăn cách */
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /*Cho phép xuống dòng khi chật*/
  margin: 20px 0;
}
.logo{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.logo a {
  display: inline-flex;              /* sắp xếp ngang */
  align-items: center;        /* căn giữa theo chiều dọc */
  text-decoration: none;      /* bỏ gạch chân link */
  color: #910909;                /* màu chữ */
}
.logo span {
  font-size: 40px;
  font-weight: bold;
  color: #910909;  
}
.logo img {
  width: 60px;                /* chỉnh kích thước ảnh */
  height: auto;              /*giư ảnh đúng tỉ lệ gốc*/
  margin-right: 10px;           
  border-radius: 20px;         /* Bo góc*/
}
.logo p{
  color: white;
  font-size: 13px;
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.search-bar{
  display: flex;
  align-items: center;
}
.search-bar input{
  border:1px solid #ccc;
  padding: 8px 12px;
  width: 300px; /*Độ dài*/
  border-radius: 5px 0 0 5px; /* bo góc bên trái */
  outline: none;
  background-color: #7e7d7d; /* màu nền ô input */
  color: #faf6f6;            /* màu chữ */
}
.search-bar button{
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-left: none;      /* bỏ viền trùng */
  border-radius: 0 5px 5px 0; /* bo góc bên phải */
  background-color: #434343; /* đổi màu nút */
  color: white;
  cursor: pointer;
}
.menu-game{
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 20px;
}
.menu-game li a{
  text-decoration: none;
  color: white;
}
.button-container {
  display: flex;
  gap: 10px; /* khoảng cách giữa các nút */
  position: fixed;
  top: 0;
  width: 80%;
  padding: 10px 0;
  justify-content: flex-end;
}

.nav-item a {
  text-decoration: none; /* bỏ gạch chân */
  color: white; /* chữ trắng */
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display:inline-block;
}

.nav-item a:hover {
  transform: translateY(5px); /*Hover vào chữ lùi xuống 1 đoạn*/
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    .search {
        margin: 10px 0;
    }
}
.footer{
  background-color: rgb(54, 52, 52);
  width: 100%;
  color:white;
  border-top: 1px solid #ccc;
  display:flex;
  flex-direction: column;
}
.footer span{
  text-align: center;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#lhvt{
  font-size: 20px;
  color:#7e7d7d;
  margin:20px 20px;
}
.contact a{
  text-decoration: none;
  color:#7e7d7d;
  display:inline-flex;
  flex-direction: row;
  align-items: center;
  margin:0 20px;
}
.contact p{
  color:#7e7d7d ;
  margin:15px 20px;
}
.contact a img{
  width: 3vw;
  border-radius: 50%;
}
#source{
  color:#7e7d7d;
  font-size: 10px;
}
/*Header and footer done*/

.main-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1a1a;
  color: white;
}



